@{
    ViewData["Title"] = "Login do Usuario";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form action="" method="GET" class="form-group">
    <fieldset class="border p-2">
        <div class="col-lg-4">
        <label for="user">Usuario:</label>
        <input type="text" id="user" placeholder="Seu nome de usuario..." class="form-control">
        <br>
        <br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" placeholder="Sua senha..." class="form-control">
        <br>
        <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </fieldset>
</form>
