
@{
    ViewData["Title"] = "ConsultaLeitor";
}

<h2>ConsultaLeitor</h2>
<br>
<fieldset class="table-bordered">
    <legend>Pesquisar por:</legend>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <input type="text" id="filtro" class="form-control" placeholder="Filtro: informe as inicias do leitor">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-secundary">Pesquisar</button>
            </div>
            <div class="col-lg-1"> </div>
            <div class="col-lg-1">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">Nome</label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">Número</label>
                </div>
            </div>
        </div>
        <br>
        
    </div>
    <br>
</fieldset>
<fieldset class="table-bordered">

</fieldset>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-5"></div>
        <button type="button" class="btn btn-success">Consultar</button>
    </div>
</div>

